:root {
  --gradient-default: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  --gradient-1: linear-gradient(90deg, #ff8c7a 0%, #61b2fb 50%, #78f878 100%);
  --gradient-2: linear-gradient(90deg, #f669b6 0%, #00BFFF 50%, #e69a3f 100%);
  --gradient-3: linear-gradient(90deg, #e36f3f 0%, #a155ef 50%, #c2eaa2 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

body {
  background-image: url(./img/bg.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-y;
  min-height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  line-height: 160%;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

header div {
  animation: fromTop .7s .2s backwards;
}

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0s;
}

main section:nth-child(2) {
  animation-delay: .3s;
}

main section:nth-child(3) {
  animation-delay: .6s;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-30px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.custom-tooltip {
  --bs-tooltip-font-size: 16px;
  --bs-tooltip-bg: #000 !important;
  --bs-tooltip-color: #FFF !important;
  --bs-tooltip-opacity: 0.9;
  --bs-tooltip-margin: 2rem !important;
}

.text-muted {
  letter-spacing: 0.18px;
  font-size: 1rem;
  font-family: 'Inter Tight', 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(232, 230, 227, 0.53);
}
